<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TOOL"
            android:label="@string/title_activity_tool"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LinkActivity"
            android:label="@string/title_activity_link" />
        <activity android:name=".Cake1" />
        <activity android:name=".Cake2" />
        <activity android:name=".Cake3" />
        <activity android:name=".Cake4"/>
        <activity android:name=".Cake5"/>
        <activity android:name=".Cake6"/>
       <activity android:name=".Cookie1"/>
        <activity android:name=".Cookie2"/>
        <activity android:name=".Cookie3"/>
        <activity android:name=".Cookie4"/>
        <activity android:name=".Cookie5"/>
        <activity android:name=".Cookie6" />
        <activity android:name=".Other1"/>
        <activity android:name=".Other2"/>
        <activity android:name=".Other3"/>
        <activity android:name=".Other4"/>
        <activity android:name=".Other5"/>
        <activity android:name=".Other6"/>
        <activity android:name=".Roll1" />
        <activity android:name=".Roll2" />
        <activity android:name=".Roll3" />
        <activity android:name=".Roll4" />
        <activity android:name=".Roll5" />
        <activity android:name=".Roll6" />
        <activity android:name=".Bread1" />
        <activity android:name=".Bread2" />
        <activity android:name=".Bread3" />
        <activity android:name=".Bread4" />
        <activity android:name=".Bread5" />
        <activity android:name=".Bread6"></activity>
    </application>

</manifest>